* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: hsl(225, 100%, 94%);
  font-size: 16px;
}

button {
  font-family: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

.card {
  width: 450px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 15px 25px hsl(224, 23%, 55%, .7);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 45px;
}

.content h1 {
  font-size: 1.8rem;
  font-weight: 900;
  padding-top: 15px;
  color: hsl(223, 47%, 23%)
}

.content p {
  padding: 20px;
  color: hsl(224, 23%, 55%);
  line-height: 1.7rem;
}

.content .plan-box {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(225, 100%, 98%);
  border-radius: 10px;
}

.plan-box .plan-box-left {
  display: flex;
  color: rgb(59, 59, 59);
  margin-left: 10px;
}

.plan-box .plan-box-left h2 {
  font-size: 1rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.plan-box .plan-box-left p {
  padding: 0;
  color: hsl(224, 23%, 55%);
}

.plan-box-left div {
  margin-left: 15px;
}

.plan-box .change-btn {
  font-size: .9rem;
  background-color: hsl(225, 100%, 98%);
  font-weight: 900;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  transition: ease all .3s;
}

.plan-box .change-btn:hover {
  text-decoration: none;
  opacity: .8;
}

.content .proceed-btn {
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: 900;
  padding: 15px 0;
  border-radius: 10px;
  margin-top: 25px;
  box-shadow: 0px 15px 20px hsl(224, 23%, 55%, .7);
  transition: ease all .3s;
}

.content .proceed-btn:hover {
  opacity: .8;
}

.content .cancel-btn {
  font-size: .9rem;
  margin-top: 30px;
  background-color: #fff;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  transition: ease all .3s;
}

.content .cancel-btn:hover {
  opacity: 1;
  color: hsl(223, 47%, 23%);
}

/* MEDIA QUERIES */

@media (max-width: 375px) {
  .card {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 335px) {
  .content .plan-box {
    flex-direction: column;
  }
}